export(fit_bayesian)
export(matchalign)
export(run_bayes)
export(select_k_peak)
export(select_k_sivula)
export(compute_loadings)
export(compute_zscores)
export(compute_factor_array)
export(compute_threshold_prob)
export(compute_dominant_prob)
export(compute_distinguishing_prob)
export(compute_consensus_prob)
export(classify_membership)
export(compute_posterior_scalars)
export(qsort_data)
export(validate_qsort)
export(check_distribution)
export(infer_distribution)
export(parse_distribution)
export(read_qsort)
export(read_qsort_csv)
export(read_qsort_excel)
export(read_pqmethod)
export(read_kenq)
export(read_kenq_excel)
export(read_kade_zip)
export(read_easyhtml_firebase)
export(read_statements)
export(import.pqmethod)
export(import.htmlq)
export(import.kenq)
export(import.easyhtmlq)
export(generate_data)
export(generate_loadings)
export(generate_noise)
export(discretize_to_grid)
export(get_distribution)
export(assess_recovery)
export(assess_classification)
export(tucker_congruence)
export(procrustes_rotation)
export(rename_factors)
export(plot_elpd)
export(plot_membership)
export(plot_ppc)
export(plot_loading_posterior)
export(plot_zscore_posterior)
export(plot_tucker)
export(plot_dist_cons)
export(plot_hyper)
export(bayesqm_colors)
export(bayesqm_set_colors)
export(save_bayesqm_plot)
export(caption_bayesqm)

S3method(plot, bayesqm_fit)
S3method(print, qsort_data)
S3method(summary, qsort_data)
S3method(as.matrix, qsort_data)
S3method(print, bayesqm_fit)
S3method(summary, bayesqm_fit)
S3method(print, bayesqm_run)
S3method(summary, bayesqm_run)
S3method(coef, bayesqm_fit)
S3method(fitted, bayesqm_fit)
S3method(residuals, bayesqm_fit)
S3method(nobs, bayesqm_fit)
S3method(sigma, bayesqm_fit)
S3method(family, bayesqm_fit)
S3method(print, bayesqm_family)
S3method(as.matrix, bayesqm_fit)
S3method(as.array, bayesqm_fit)
S3method(as.data.frame, bayesqm_fit)
S3method(update, bayesqm_fit)
S3method(posterior_interval, bayesqm_fit)
S3method(prior_summary, bayesqm_fit)
S3method(print, bayesqm_prior)

importFrom(rstantools, posterior_interval)
importFrom(rstantools, prior_summary)
export(posterior_interval)
export(prior_summary)

importFrom(stats, cor, density, median, quantile, rbinom, rnorm, rt, runif, sd, setNames)
importFrom(utils, combn, head, read.csv, unzip)
importFrom(graphics, abline, axis, box, boxplot, hist, image, layout, legend, lines, mtext, par, points, polygon, rect, segments, text, title)
importFrom(grDevices, adjustcolor, colorRampPalette, grconvertX, grconvertY, grey.colors)
